@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@theme {
  --color-blue-950: hsl(240, 38%, 20%);
  --color-gray-400: hsl(240, 18%, 77%);
  --font-inter: "Inter", sans-serif;
}
body {
  font-family: var(--font-inter);
  background: url("./assets/images/pattern-curve.svg") no-repeat;
  background-position: bottom left;
  background-size: 280px 72px;
  min-height: 100vh;
}
.review-text {
  background: url("./assets/images/pattern-quotes.svg") no-repeat;
  background-position: 50% 35px;
  background-size: 60px 52px;
}
@media (min-width: 768px) {
  body {
    background-size: 608px 154px;
  }
  .review-text {
    background-position: 50% 34px;
    background-size: 80px 68px;
  }
}
@media (min-width: 1280px) {
  .review-text {
    background-position: 0% 0px;
    background-size: 80px 68px;
  }
}
